body{
    font-family:roboto;
    margin:0px;
    padding: 0px;
    min-width: 598px;
}

.header{
    
    display: flex;
    align-items: top;
    background-color: rgb(20,25,34) ;
    justify-content: space;
    height: 60px;
}
.left_section{
    display: flex;
    justify-content:left;
    align-items: center;
    margin-left:12px;
    margin-right:56px;
}

@media ( max-width:800px ) /* and ( min-width : 576px ) */ {
    .left_section{
        margin-right:0px ;
    }
}
@media( max-width : 575px ){
    .left_section{
        margin-right:0px ;
    }

}


.logo_anchor{
    width:114px;
    /* height: 100%; */
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo_anchor:hover{
    width:112px;
    border: 1px solid white;
    width: calc(100%-2px);
}


.logoimg{
    height:32px;
    width:auto;
    margin:5px 5px 5px 5px;
}


.search{
    margin-left:10px;
    margin-right:10px;
    
    padding:10px 0px 10px 0px;
    display: flex;
    flex:1;
    margin-bottom:2px;
}
.searchbar{
    border:none;
    border-radius: 4px 0px 0px 4px;
    padding-left: 15px;
    height: 100%;
    width : 100%;
    
}
.searchbar::placeholder{
    font-family: Arial;
    font-size:15px;
}

.search_button{
    border:none;
    border-radius:0px 4px 4px 0px;
    background-color: rgb(254,190,107);
    width:48px;
    height:40px;
}

.search_icon{
    height: 22px;
    width:22px;
}


.extras{

    margin-left:15px;
    display:inline-block;
}


.return_button{
    display :flex;
    border:none;
    background-color: transparent;
    color: aliceblue;

}
.return_text{
    display: block;
    margin:0;
}

.grid{
    display:grid;
    
}
.product{
    padding:40px 25px 25px 25px;
    border: 0.1px solid lightgray;
    position: relative;
}
.img-div{
    display:flex;
    height:180px;
    width:100%;
    justify-content: center;
    align-items: center;
}
.prodimg{
    max-width: 100%;    
    max-height: 100%;
}

.about{
    height: 27px;
    width : 100%;
}

.ratingstr{
    margin : 0;
    width :100px;
    height : 20px;
}
.rating{
    margin : 0;

    font-family:sans-serif;
    display: inline-block;
    vertical-align: 21%;
    padding-left: 2px;
    color: rgb(53,122,177);
}
.price{

    margin-top:5px;
    margin-bottom: 9px;
    font-weight: bold;
}
.selector{
    margin:0px;
    border: 1px solid rgb(229, 228, 228);
    width:50px;
    height:23px;
    box-shadow: 0px 0px 19px rgb(255, 0, 0);
    margin-bottom:15px;
    cursor:pointer;
    display: inline-block;
}
.attri{
    font-family: arial;
    font-weight:bold;
    font-size:12px;
    color:rgb(33,33,33);
    margin-bottom: 3px;
    margin-top: 0px;

}
.choice-div{
    margin-bottom:15px
}
.choice{
    color:rgb(33,33,33);
    background-color: white;
    padding:5px 8px 5px 8px;
    border : 1px solid rgb(187, 187, 187);
    border-radius:8px;
    cursor:pointer;
    
}
.message{
    height:20px;
}

.add_to_cart_holder{
   
    position:absolute;
    bottom:10px;
    right: 25px;
    left:25px;
   
}

.add_to_cart{
   
   
    display:block;
    width :100%;
    cursor: pointer;
    background-color: rgb(249,217,76);
    border:none;
    border-radius: 17px;
    height: 31px;
    
   
}

@media(min-width : 1300px){
    .grid{
        grid-template-columns: repeat(6,1fr);
    }
}
@media(max-width : 1299px) and (min-width : 1000px){
    .grid{
        grid-template-columns: repeat(5,1fr);
    }
}
@media(max-width : 999px) and (min-width : 800px){
    .grid{
        grid-template-columns: repeat(4,1fr);
    }
}
@media(max-width : 799px) and (min-width : 600px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width :599px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}


