.header{
    position: fixed;
    z-index: 1;
    top:0px;
    right:0px;
    left:0px;
    display: flex;
    align-items: top;
    background-color: rgb(20,25,34) ;
    justify-content: space;
    height: 50px;
    padding: 5px 12px 5px 12px;
}
.left_section{
    display: flex;
    justify-content:left;
    align-items: center;

    margin-right:56px;
}

@media ( max-width:800px ) {
    .left_section{
        margin-right:0px ;
    }
}
@media( max-width : 575px ){
    .left_section{
        margin-right:0px ;
    }

}


.logo_anchor{
    width:114px;
    height: 100%;
    margin:10px 0px 10px 0px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo_anchor:hover{
    width:112px;
    border: 1px solid white;
    border-radius: 2px;
    width: calc(100%-2px);
}


.logoimg{
    height:32px;
    width:auto;
    margin:5px 5px 5px 5px;
}


.search{
    margin-left:10px;
    margin-right:10px;
    
    padding:5px 0px 5px 0px;
    display: flex;
    flex:1;
    margin-bottom:2px;
}
.searchbar{
    border:none;
    border-radius: 4px 0px 0px 4px;
    padding-left: 15px;
    height: 100%;
    width : 100%;
    font-size:20px;
}
.searchbar:focus{
    outline: none;
    box-shadow: inset 0px 0px 0px 2px rgb(241,148,56);
}

.searchbar::placeholder{
    font-family: Arial;
    font-size:18px;
}

.search_button{
    border:none;
    border-radius:0px 4px 4px 0px;
    background-color: rgb(254,190,107);
    width:48px;
    height:40px;
}

.search_icon{
    height: 22px;
    width:22px;
}


.extras{
    position: relative;
    margin-left:15px;
    display:flex;
}


.order_button{

    border:none;
    background-color: transparent;
    color: aliceblue;
    padding:8.5px 9px 8.5px 9px  ;
}
.order_button:hover{
    border:1px solid white;
    padding:7.5px 8px 7.5px 8px;
    border-radius: 2px;
}

.order_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin:0;
}

.order_text2{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    font-weight:bold;
}


.cart_anchor{
    display:flex;
    padding:7px;
}
.cart_anchor:hover{
    border:1px solid white;
    padding:6px;
    border-radius: 2px;
}

.cart_img{
    width:50px;
}

.cart_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20;
    font-weight: bold;
    color:white;
}

.cart_count{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17.5px;
    height:19px;
    color:rgb(226,141,52);
    top:-14px;
    right:53px;
}
